/*a styles file */
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
  font-family: 'Fira Code', monospace;
  background-color: #2d4168;
  color: #ECEFF4;
}

h1, h2, h3, h4, h5, h6 {
  color: #88C0D0;
}

a {
  color: #81A1C1;
}

button {
  background-color: #91b2dc;
  color: #ECEFF4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #81A1C1;
}

.title {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}